# General
node_modules/
dist/
.angular/
*.log

# Environments / Secrets
**/src/environments/environment.ts
**/src/environments/environment.prod.ts
**/src/environments/environment.dev.ts
*.env
*.local

# Editor
.vscode/
.idea/
.DS_Store
